/IDE.log
/.analytics
/RemoteSystemsTempFiles/
/.metadata/.plugins/org.eclipse.core.resources/
/.metadata/.log
/.metadata/version.ini
/.metadata/.plugins/org.eclipse.pde.core/.cache/
/.metadata/.plugins/org.eclipse.cdt.core/